.slide__wrap {
  position: relative;
  width: 400px;
  margin: auto;
  padding-bottom: 30px;
  background-color: cornflowerblue;
}

.slide__box {
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  background-color: cornsilk;
}

.slide__content {
  display: table;
  float: left;
  width: 400px;
  height: 400px;
}
