@import "reset.css";

/* main {
  display: flex;
} */

.bg {
  width: 50vw;
  height: 50vh;
  background-color: turquoise;
}

.splash {
  width: 100vw;
  height: 100vh;
  background-color: tomato;
  position: absolute;
  top: 0;
  animation: splashAni 1s ease-in-out forwards;
}

@keyframes splashAni {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    /* display: none; */
    visibility: hidden;
  }
}

/* visibility는 버튼이 눌려지는데,
display를 하면 버튼이 안눌러진다. */
