.status--bar {
  /* position: fixed;
  top: 0; */
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-left: 3px;
}
/* position을 fix해버리면 배열이 깨지는데, 내가 보기에는
최초의 크기로 줄어들어서 그런거 같다..
그걸 width 100%로 밀어주면 다시 늘어나는 듯. */

.status--bar__column {
  width: 33%;
}

.status--bar__column:first-child span {
  margin-right: 5px;
}

.status--bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.status--bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status--bar__column .fa-battery-full {
  margin: 0px 5px;
}
